.datetimeOutput {
    border: solid var(--border-width) var(--background-modifier-border);
    border-bottom: 0;
    padding: var(--size-4-1);
    font-weight: var(--font-semibold);
    text-align: center;
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
}

.datetimeOutput-error {
    color: var(--text-error);
}

.strikethrough {
    text-decoration: line-through;
}